
<table class="table table-striped" id='clients_table'>
  <thead>
    <tr>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <%@clients = Client.all%>
    <% @clients.each do |client| %>

   
    <tr data-id= <%= client.id%>>
      <%id_cliente = client.identification%>
      <td><%= client.identification %></td>
      <td><%= client.name %></td>
      <td><%= client.direction %></td>
      
      <td>
         
      <button data-id= <%= client.id%> type="button" class="btn btn-default select" aria-label="Left Align">
        <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span></button>

         </td>

      

     
    </tr>
    <% end %>
  </tbody>
</table>
