<%def conPuntos(numero)
      str = numero.to_s.reverse
      str.gsub!(/([0-9]{3})/,"\\1.")
      str.gsub(/,$/,"").reverse
    end
    %>

<p id="notice"><%= notice %></p>

<h1>Articulos</h1>
<div class = "table-responsive">

<table class="table table-striped">

  <thead>
    <tr>
      <th>Referencia</th>
      <th>Categoria</th>
      <th>Detalle</th>
      <th>Cant</th>
      <th>Talla</th>
      <th>Provedor</th>
      <th>Vlr. Compra</th>
      <th>Vlr. Venta</th>
      <th>Vlr Alquiler</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.reference %></td>
        <td><%= article.product_category.name %></td>
        <td><%= article.detail %></td>
        <td><%= article.quantity %></td>
        <td><%= article.size %></td>
        <td><%= article.provider.name %></td>
        <td><%= conPuntos(article.purchase_value) %></td>
        <td><%= article.sales_value %></td>
        <td><%= article.rental_value %></td>
        <td><%= article.status %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nuevo Articulo', new_article_path %>
