<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Fecha nacimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.identification %></td>
        <td><%= client.name %></td>
        <td><%= client.direction %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.birthdate %></td>
        <td><%= link_to 'Ver', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path %>
