<p id="notice"><%= notice %></p>

<p>
  <strong>Identificacion:</strong>
  <%= @client.identification %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direction %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Fecha Nacimiento:</strong>
  <%= @client.birthdate %>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>
