<p id="notice"><%= notice %></p>

<h1>Salidas</h1>
<div class = "table-responsive">

<table class="table table-striped">

  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Detalle</th>
      <th>Valor Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departures.each do |departure| %>
      <tr>
        <td><%= departure.entry_date %></td>
        <td><%= departure.departure_type.name %></td>
        <td><%= departure.detail %></td>
        <td class ="valores-dinero"><%= number_to_currency(departure.total_value, precision: 0) %></td>
        <td><%= link_to 'Ver', departure %></td>
        <td><%= link_to 'Editar', edit_departure_path(departure) %></td>
        <td><%= link_to 'Eliminar', departure, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Salida', new_departure_path %>
