<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @departure.entry_date %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @departure.departure_type.name %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @departure.detail %>
</p>

<p>
  <strong>Valor Total:</strong>
  <%= @departure.total_value %>
</p>

<%= link_to 'Editar', edit_departure_path(@departure) %> |
<%= link_to 'Atras', departures_path %>
