<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice detail:</strong>
  <%= @rental.invoice_detail %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @rental.start_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @rental.final_date %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @rental.deposit %>
</p>

<p>
  <strong>State:</strong>
  <%= @rental.state %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @rental.observation %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
