  <div class="col-sm-9 col-md-10 main">

    <h1 class="page-header"> Caja</h1>

    <div class="row">
      <div class="col-lg-6">
        <%= form_tag(reports_path, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <span class="input-group-btn">
            <%= submit_tag "Buscar" , class: 'btn btn-default' %>
          </span>
        <%= date_field_tag :fecha, params[:fecha], placeholder: "Buscar", class: 'form-control' %>

        <% end %>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div class="row placeholders">
      <p></p>
      <div class="panels">
        <div class="panel-entries">
          <h2>Entradas</h2>
          <table class="table table-striped">
        <thead>
          <tr>
            <th>Factura</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <% total_entries = 0 %>
          <% @entries.each do |entry| %>
          <tr>
            <td><%= entry.total_invoice.number %></td>
              <td class ="valores-dinero"> <%= number_to_currency(entry.deposit , precision: 0)%></td>
          </tr>
          <% total_entries = total_entries + entry.deposit %>
          <% end %>

          <tr>
            <td>Total</td>
            <td class ="valores-dinero"><%=number_to_currency(  total_entries, precision: 0)%></td>
          </tr>
          

        </tbody>

      </table>

      </div>
      <div class ="panel-departures">
        <h2>Salidas</h2>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Detalle</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <% total_departures = 0 %>
        <% @departures.each do |departure| %>
          <tr>
            <td><%= departure.detail %></td>
              <td class ="valores-dinero"><%=number_to_currency(  departure.total_value, precision: 0) %></td>
          </tr>
          <% total_departures = total_departures + departure.total_value %>
          <% end %>

          <tr>
            <td>Total</td>
            <td class ="valores-dinero"><%= number_to_currency( total_departures, precision: 0)%></td>
          </tr>
        </tbody>
          

      </table>
      </div>
      </div>
      <div class="caja">
        <h1>Total: <%=  number_to_currency(total_entries- total_departures, precision: 0)%></h1>

      </div>

    


    </div>
  </div>