<p id="notice"><%= notice %></p>

<h1>Listing Total Invoices</h1>


<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Total value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @total_invoices.each do |total_invoice| %>
      <tr>
        <td><%= total_invoice.number %></td>
        <td><%= total_invoice.total_value %></td>
        <td><%= link_to 'Show', total_invoice %></td>
        <td><%= link_to 'Edit', edit_total_invoice_path(total_invoice) %></td>
        <td><%= link_to 'Destroy', total_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Total invoice', new_total_invoice_path %>
