<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @total_invoice.number %>
</p>

<p>
  <strong>Valor Total:</strong>
  <%= @total_invoice.total_value %>
</p>


<%= link_to 'Editar', edit_total_invoice_path(@total_invoice) %> |
<%= link_to 'Atras', total_invoices_path %>
