<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @total_invoice.number %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @total_invoice.total_value %>
</p>

<%= link_to 'Edit', edit_total_invoice_path(@total_invoice) %> |
<%= link_to 'Back', total_invoices_path %>
